@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .grid-paper {
        background-size: 40px 40px;
        background-image: linear-gradient(to right, #eee 1px, transparent 1px),
        linear-gradient(to bottom, #eee 1px, transparent 1px);
        @apply
        bg-gray-50
    }

    .highlight-container,
    .highlight {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        @apply w-fit
    }

    .highlight-container {
        display: inline-block;
        @apply w-fit
    }

    .highlight-container:before {
        content: ' ';
        display: block;
        height: 95%;
        width: 120%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        background: rgba(255, 213, 0, 0.33);
        transform: rotate(3.5deg);
        top: -1px;
        left: -5px;
        border-radius: 20% 25% 20% 24%;
        padding: 10px 3px 3px 10px;
    }
}

html {
    background-color: #ffd500;
}

body {
    @apply
    grid-paper
}

h1, h2, h3, h4, h5, h6 {
    font-family: "JetBrains Mono", 'monospace', '.AppleSystemUIFont';
}

h1 {
    @apply highlight-container highlight
}

article {
    @apply min-h-screen flex flex-col pb-12
}

article time {
    @apply font-bold font-monospace text-xs text-gray-800 !important
}

article time + a {
    @apply font-monospace text-xs bg-gray-300 text-gray-700 px-1 py-0.5 !important
}

article > .post-item {
    @apply grow
}

article > .post-item > h3 > a {
    @apply font-extrabold
}

article > .post-item > p {
    @apply text-gray-600 font-monospace mb-1
}

article > .post-item > time {
    @apply -mt-4 p-0 highlight-container highlight !important
}

article > .post-item > p > a.post-item-more {
    @apply font-extrabold text-gray-500 ml-6 text-xs no-underline lowercase border-2 border-dashed border-gray-400 rounded-lg py-1 px-2 hover:bg-gray-100 ease-in-out transition-colors
}

article > div > div.nx-flex.nx-items-center.nx-gap-3 > a {
    @apply font-monospace border-b-2 border-b-gray-700 border-dashed no-underline text-xs text-gray-700
}
